NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBxl-A8uQlTiauQ1kwID3S_gqXHXSOTIfQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=laser-manutencao-co2-20260618.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=laser-manutencao-co2-20260618
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=laser-manutencao-co2-20260618.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=828937835744
NEXT_PUBLIC_FIREBASE_APP_ID=1:828937835744:web:501afa0bcb6673697a2c85
NEXT_PUBLIC_WHATSAPP_NUMBER=5512981823416
NEXT_PUBLIC_SITE_URL=https://laserfix.web.app
