FIREBASE_PROJECT_ID=laser-manutencao-co2-20260618
FIREBASE_CLIENT_EMAIL=laser-booking-api@laser-manutencao-co2-20260618.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
NEXT_PUBLIC_WHATSAPP_NUMBER=5512981823416
NEXT_PUBLIC_SITE_URL=https://seu-dominio.vercel.app
