rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /agendamentos/{slotId} {
      allow read, write: if false;
    }
  }
}
